<mat-dialog-content class="mat-typography">
    <section class="example-section">
        <mat-checkbox class="example-margin">Global</mat-checkbox>
    </section>
    <section>
        <form class="example-form">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Id</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.id">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Language</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.language">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Priority</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.importance">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Link</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.link">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Color (Hex)</mat-label>
                            <input class="inputnew" matInput placeholder="Placeholder" [value]="data.color">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img class="tile-image" [src]="data.image" alt="Place image title">
                    </div>
                    <div class="col">
                        <img class="tile-icon" [src]="data.icon" alt="Place image title">

                    </div>
                </div>
               
            </div>
            
           

            <!-- <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-form-field appearance="fill">
                        <mat-label>ID</mat-label>
                        <input class="" matInput placeholder="Placeholder" [value]="data.id">

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-form-field appearance="fill">
                        <mat-label>Language</mat-label>
                        <input matInput placeholder="Placeholder" [value]="data.language">

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Placeholder" [value]="data.name">

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-form-field appearance="fill">
                        <mat-label>Priority</mat-label>
                        <input matInput placeholder="Placeholder" [value]="data.importance">

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">

                    <mat-form-field appearance="fill">
                        <mat-label>Link</mat-label>
                        <input matInput placeholder="Placeholder" [value]="data.link">

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">

                    <mat-form-field appearance="fill">
                        <mat-label>Color (Hex)</mat-label>
                        <input matInput placeholder="Placeholder" [value]="data.color">

                    </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="4">
                    <img class="tile-image" [src]="data.image" alt="Place image title">
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="4">
                    <img class="tile-icon" [src]="data.icon" alt="Place image title">
                </mat-grid-tile>

            </mat-grid-list> -->





        </form>
    </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-button (click)="articleview(data.id)" cdkFocusInitial>ARTICLE CLASS </button>
</mat-dialog-actions>