.tile-image {
    width:100%;
    height: auto;
  }

  .tile-icon {
    width: 75px;
    height: 75px;
  }

  /* .inputnew {
    width: 300px!important;
  } */

  .example-form {
    min-width: 150px;
    max-width: auto;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .tablenew {
    border-radius: 10px;
  }