<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Reels</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <section style="padding: 25px;">
        <div class="container">
            <div class="row text-center">
                <div class="col pt-2 heading-text1">
                    Reels - Dashboard
                </div>
            </div>
        </div>

        <div class="row text-center" style="background-color:rgb(196, 187, 187);">
            <div class="col-lg-4">
                <h3 class="text-left pt-4" style="font-size: 32px;font-weight: 500;">SCRAPED</h3>
            </div>
            <div class="col-lg-3 pt-3">
                <button type="button" class="btn btn-light">All</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">1 Hour</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">6 Hours</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">12 Hours</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">24 Hours</button>

            </div>
            <div class="col-lg-2" style="padding-top: 20px;">
                <input type="number" class="form-control" placeholder="Custom Frequency">
            </div>
            <div class="col-lg-1 pt-3" style=" height: 2px!important;">
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </a>
            </div>

            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>
                            <img src="../../assets/yt-logo.png" class="youtube-logo-1" alt="">
                        </th>
                        <th>
                            <img src="../../assets/ig-logo.png" class="youtube-logo-1" alt="">
                        </th>
                        <th>
                            <img src="../../assets/newsreelsimage.jpg" class="youtube-logo-1" alt="">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="extracted_number_2">Count</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">450</td>
                    </tr>


                </tbody>
            </table>        

        </div>

        <div class="container pt-4">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>

        <!-- YOUTUBE >> VIDEOS >> SHORTS >> INSTAGRAM >> VIDEOS >> REELS -->

        <div class="row text-center" style="background-color: rgb(196, 187, 187);">
            <div class="col-lg-4">
                <h1 class="text-left pt-4" style="font-size: 32px;font-weight: 500;">EXTRACTED</h1>
            </div>

            <div class="col-lg-3 pt-3">
                <button type="button" class="btn btn-light">All</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">1 Hour</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">6 Hours</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">12 Hours</button>
                <button type="button" class="btn btn-light" style="margin-left: 3px;">24 Hours</button>

            </div>

            <div class="col-lg-2" style="padding-top: 20px;">
                <input type="number" class="form-control" placeholder="Custome Frequency">
            </div>

            <div class="col-lg-1 pt-3" style=" height: 2px!important;">
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </a>
            </div>

            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>
                            <img src="../../assets/yt-logo.png" class="youtube-logo-1" alt="">
                        </th>
                        <th>
                            <img src="../../assets/ig-logo.png" class="youtube-logo-1" alt="">
                        </th>
                        <th>
                            <img src="../../assets/newsreelsimage.jpg" class="youtube-logo-1" alt="">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="extracted_number_2">Success</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">400</td>


                    </tr>
                    <tr>
                        <th scope="row" class="extracted_number_2">Pending</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">400</td>
                    </tr>
                    <tr>
                        <th scope="row" class="extracted_number_2">Failure</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">400</td>
                    </tr>
                    <tr>
                        <th scope="row" class="extracted_number_2">Total</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">400</td>
                    </tr>


                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 242px;"></th>
                        <th style="width: 425px;">
                            <img src="../../assets/yt-logo.png" class="youtube-logo-2" alt="">
                            <br>
                            <span>Videos</span>
                        </th>
                        <th style="width: 440px;">
                            <img src="../../assets/yt-logo.png" class="youtube-logo-2" alt="">
                            <br>
                            <span>Shorts</span>
                        </th>
                        <th style="width: 425px;">
                            <img src="../../assets/ig-logo.png" class="youtube-logo-2" alt="">
                            <br>
                            <span> Videos</span>
                        </th>
                        <th style="width: 440px;">
                            <img src="../../assets/ig-logo.png" class="youtube-logo-2" alt="">
                            <br>
                            <span> Reels</span>
                        </th>
                        <th style="width: 370px;">
                            <img src="../../assets/newsreelsimage.jpg" alt="" class="newsreels-logo">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="extracted_number_2">Success</th>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">250</td>
                        <td class="extracted_number_2">150</td>
                        <td class="extracted_number_2">800</td>

                    </tr>


                </tbody>
            </table>
        </div>
        <!--END OF  YOUTUBE >> VIDEOS >> SHORTS >> INSTAGRAM >> VIDEOS >> REELS -->

        <!-- <<START QUEUED STATUS>> -->

        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-4">
                    <h1 class="text-left pt-4" style="font-size: 32px;font-weight: 500;">QUEUED</h1>
                </div>
                <div class="col-lg-5 pt-3">
                    <button type="button" class="btn btn-light">All</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">1 Hour</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">6 Hours</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">12 Hours</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">24 Hours</button>
    
                </div>

                <div class="col-lg-2" style="padding-top: 20px;">
                    <input type="number" class="form-control" placeholder="Custome Frequency">
                </div>
                <div class="col-lg-1 pt-3" style=" height: 2px!important;">
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh
                    </a>
                </div>
            </div>

        </div>



        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>QueuedExtract</th>
                    <th>QueuedTranscript</th>
                    <th>QueuedSummary</th>
                    <th>QueuedParaphrase</th>
                    <th>QueuedAutomate</th>
                    <th>QueuedMake</th>
                    <th>QueuedCaption</th>
                    <th>QueuedRender</th>
                    <th>QueuedCompress</th>
                    <th>QueuedUpload</th>
                    <th>QueuedPost</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td class="extracted_number_2">1200</td>
                    <td class="extracted_number_2">250</td>
                    <td class="extracted_number_2">150</td>
                    <td class="extracted_number_2">250</td>
                    <td class="extracted_number_2">150</td>
                    <td class="extracted_number_2">800</td>
                    <td class="extracted_number_2">150</td>
                    <td class="extracted_number_2">250</td>
                    <td class="extracted_number_2">150</td>
                    <td class="extracted_number_2">800</td>
                    <td class="extracted_number_2">500</td>

                </tr>


            </tbody>
        </table>

        <!-- <<END QUEUED STATUS>> -->


        <!-- START OF STATUS TABLE >> YOUTUBE >> INSTAGRAM >> ALL -->
            <div class="row">
                <div class="col-lg-4">
                    <h1 class="text-center pt-4" style="font-size: 32px;font-weight: 500;">EXTRACTED</h1>
                </div>
    
                <div class="col-lg-3 pt-3">
                    <button type="button" class="btn btn-light">All</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">1 Hour</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">6 Hours</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">12 Hours</button>
                    <button type="button" class="btn btn-light" style="margin-left: 3px;">24 Hours</button>
    
                </div>
    
                <div class="col-lg-2" style="padding-top: 20px;">
                    <input type="number" class="form-control" placeholder="Custome Frequency">
                </div>
    
                <div class="col-lg-1 pt-3" style=" height: 2px!important;">
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh
                    </a>
                </div>
            </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="all">
                <th mat-header-cell *matHeaderCellDef> ALL </th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.all}} </td>
            </ng-container>

            <ng-container matColumnDef="youtube">
                <th mat-header-cell *matHeaderCellDef> <i class="fa fa-youtube"
                        style="font-size: 30px; color: red;"></i></th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.youtube}} </td>
            </ng-container>

            <ng-container matColumnDef="instagram">
                <th mat-header-cell *matHeaderCellDef> <i class="fa fa-instagram"
                        style="font-size: 30px; color: #8a3ab9;"></i>
                </th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.instagram}} </td>
            </ng-container>
            <ng-container matColumnDef="ytvideos">
                <th mat-header-cell *matHeaderCellDef> <i class="fa fa-youtube"
                        style="font-size: 30px; color: red;"></i>
                    - AI</th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.ytvideos}} </td>
            </ng-container>
            <ng-container matColumnDef="ytshorts">
                <th mat-header-cell *matHeaderCellDef> <i class="fa fa-youtube"
                        style="font-size: 30px; color: red;"></i>
                    -Shorts</th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.ytshorts}} </td>
            </ng-container>
            <ng-container matColumnDef="igvideos">
                <th mat-header-cell *matHeaderCellDef> <i class="fa fa-instagram"
                        style="font-size: 30px; color: #8a3ab9;"></i>
                    - AI </th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.igvideos}} </td>
            </ng-container>
            <ng-container matColumnDef="igreels">
                <th mat-header-cell *matHeaderCellDef><i class="fa fa-instagram"
                        style="font-size: 30px; color: #8a3ab9;"></i>
                    -Reels </th>
                <td mat-cell *matCellDef="let element" class="table-inner-text"> {{element.igreels}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- END OF STATUS TABLE >> YOUTUBE >> INSTAGRAM >> ALL -->

    </section>
</body>

</html>