<div class="container">
    <div class="row">
        <div class="col">
        <div class="row">
            <div class="row">
                <div class="col">
                    <mat-slide-toggle>Enabled</mat-slide-toggle>
           
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Source</mat-label>
                        <input matInput [value]="sourceDetails?.link" >
        
                    </mat-form-field> 
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Classname</mat-label>
                        <input matInput >
        
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label id="example-radio-group-label">Class Type</label>
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group">
                      <mat-radio-button class="example-radio-button" >
                        Positive
                      </mat-radio-button>
                      <mat-radio-button class="example-radio-button" >
                        Negative
                      </mat-radio-button>
                      <mat-radio-button class="example-radio-button" >
                        Image
                      </mat-radio-button>
                    </mat-radio-group> 
                </div>
            </div>
          
           
         
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Positive Tag</mat-label>
                            <input matInput  [value]="tags?.positive_tags">
            
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Negative Tag</mat-label>
                            <input matInput [value]="tags?.unwrap_tags">
            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="classname">
                  <th mat-header-cell *matHeaderCellDef> Classname </th>
                  <td mat-cell *matCellDef="let element"> {{element.classname}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="class_type">
                  <th mat-header-cell *matHeaderCellDef> Class Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.class_type}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="identifier">
                  <th mat-header-cell *matHeaderCellDef> Identifier </th>
                  <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="enabled">
                  <th mat-header-cell *matHeaderCellDef> Enable </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [(ngModel)]="element.enabled"></mat-slide-toggle>
                       </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
    
</div>
